In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_test["Survived"] = False
raw_data = pd.concat([df_train, df_test])
raw_data = raw_data.drop(columns=["PassengerId", "Name"], axis=1)

In [ ]:
raw_data = pd.read_csv("train.csv")
raw_data

## Поис NaN в датасете

In [ ]:
raw_data.isna().sum()

In [ ]:
raw_data.Cabin.isna().value_counts()

In [ ]:
100 - ((raw_data.Cabin.isna().value_counts()[1] / raw_data.Cabin.isna().value_counts()[0]) * 100)

In [ ]:
clean_data = raw_data.drop("Cabin", axis=1)

In [ ]:
median_age = clean_data.Age.median()
clean_data.Age = clean_data.Age.fillna(median_age)

In [ ]:
clean_data.Embarked = clean_data.Embarked.fillna("U")

In [ ]:
clean_data

In [ ]:
gender_columns = pd.get_dummies(clean_data.Sex, prefix="Sex")
embarked_columns = pd.get_dummies(clean_data.Embarked, prefix="Embarked")

clean_data = pd.concat([clean_data, gender_columns], axis=1)
clean_data = pd.concat([clean_data, embarked_columns], axis=1)

clean_data = clean_data.drop(["Sex", "Embarked"], axis=1)
clean_data

In [ ]:
pclass_columns = pd.get_dummies(clean_data["Pclass"], prefix="Pclass")

In [ ]:
clean_data = pd.concat([clean_data, pclass_columns], axis=1)
clean_data = clean_data.drop("Pclass", axis=1)

In [ ]:
clean_data

In [ ]:
bins = [x for x in range(0, 81, 10)]
categorized_age = pd.cut(clean_data.Age, bins)
clean_data["Categorized_age"] = categorized_age
clean_data = clean_data.drop(["Age"], axis=1)

In [ ]:
cagegorized_age_columns = pd.get_dummies(clean_data['Categorized_age'], prefix='Categorized_age')
clean_data = pd.concat([clean_data, cagegorized_age_columns], axis=1)
clean_data = clean_data.drop(['Categorized_age'], axis=1)

In [ ]:
clean_data = clean_data.drop(["Name", "Ticket", "PassengerId"], axis=1)

In [ ]:
clean_data.to_csv("wilden1.csv", index=None)

In [ ]:
data = pd.read_csv("wilden1.csv")

In [ ]:
data

In [ ]:
features = data.drop(["Survived"], axis=1)
labels = data.Survived

In [ ]:
features_train, features_validation_test, labels_train, labels_validation_test = train_test_split(features, labels, test_size=0.4)
features_validation, features_test, labels_validation, labels_test = train_test_split(features_validation_test, labels_validation_test, test_size=0.5)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score, recall_score, f1_score

In [ ]:
lr_model = LogisticRegression()
lr_model.fit(features_train, labels_train)

In [ ]:
dt_model = DecisionTreeClassifier()
dt_model.fit(features_train, labels_train)

In [ ]:
nb_model = GaussianNB()
nb_model.fit(features_train, labels_train)

In [ ]:
svm_model = SVC()
svm_model.fit(features_train, labels_train)

In [ ]:
rf_model = RandomForestClassifier()
rf_model.fit(features_train, labels_train)

In [ ]:
gb_model = GradientBoostingClassifier()
gb_model.fit(features_train, labels_train)

In [ ]:
ab_model = AdaBoostClassifier()
ab_model.fit(features_train, labels_train)

In [ ]:
models = [lr_model, dt_model, nb_model, svm_model, rf_model, gb_model, ab_model]

In [ ]:
accuracies = []
for model in models:
    predicted = model.predict(features_validation)
    print(model.score(features_validation, labels_validation) * 100)
    print(accuracy_score(labels_validation, predicted))
    print(recall_score(labels_validation, predicted))
    print(f1_score(labels_validation, predicted))
    print()
    accuracies.append(accuracy_score(labels_validation, predicted))

In [ ]:
accuracies

In [ ]:
df_dummy = pd.read_csv("test.csv")

In [ ]:
df_dummy

In [46]:
# Загрузим тестовый набор данных
df_test = pd.read_csv("test.csv")

# Предобработка тестового набора (аналогичная, как и для train.csv)
df_test = df_test.drop(["Cabin", "Name", "Ticket"], axis=1)

# Заполняем пропущенные значения
df_test['Age'] = df_test['Age'].fillna(median_age)  # Используем медианный возраст, найденный ранее
df_test['Embarked'] = df_test['Embarked'].fillna("U")

# Создаем One-Hot Encoding для категориальных признаков
gender_columns = pd.get_dummies(df_test["Sex"], prefix="Sex")
embarked_columns = pd.get_dummies(df_test["Embarked"], prefix="Embarked")
pclass_columns = pd.get_dummies(df_test["Pclass"], prefix="Pclass")

# Объединяем новые столбцы с df_test
df_test = pd.concat([df_test, gender_columns, embarked_columns, pclass_columns], axis=1)
df_test = df_test.drop(["Sex", "Embarked", "Pclass"], axis=1)

# Выравниваем столбцы с обучающими данными, чтобы избежать ошибок отсутствующих столбцов
# Создаем список всех категориальных столбцов, которые должны быть в тестовом наборе
expected_columns = features.columns
df_test = df_test.reindex(columns=expected_columns, fill_value=0)

In [57]:
df_test["Fare"] = df_test["Fare"].fillna(df_test["Fare"].median())

In [58]:
df_test.isna().sum()

SibSp                       0
Parch                       0
Fare                        0
Sex_female                  0
Sex_male                    0
Embarked_C                  0
Embarked_Q                  0
Embarked_S                  0
Embarked_U                  0
Pclass_1                    0
Pclass_2                    0
Pclass_3                    0
Categorized_age_(0, 10]     0
Categorized_age_(10, 20]    0
Categorized_age_(20, 30]    0
Categorized_age_(30, 40]    0
Categorized_age_(40, 50]    0
Categorized_age_(50, 60]    0
Categorized_age_(60, 70]    0
Categorized_age_(70, 80]    0
dtype: int64

In [60]:
# Прогнозируем с помощью модели
predictions = rf_model.predict(df_test)

# Создаём DataFrame с результатами
final = pd.DataFrame()
final["PassengerId"] = df_dummy["PassengerId"]
final["Survived"] = predictions

# Сохраняем результаты в файл
final.to_csv("wilden_submission.csv", index=False)

In [55]:
df_test

,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,Pclass_3,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]","Categorized_age_(70, 80]"
0,0,0,7.8292,False,True,False,True,False,0,False,False,True,0,0,0,0,0,0,0,0
1,1,0,7.0000,True,False,False,False,True,0,False,False,True,0,0,0,0,0,0,0,0
2,0,0,9.6875,False,True,False,True,False,0,False,True,False,0,0,0,0,0,0,0,0
3,0,0,8.6625,False,True,False,False,True,0,False,False,True,0,0,0,0,0,0,0,0
4,1,1,12.2875,True,False,False,False,True,0,False,False,True,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,0,0,8.0500,False,True,False,False,True,0,False,False,True,0,0,0,0,0,0,0,0
414,0,0,108.9000,True,False,True,False,False,0,True,False,False,0,0,0,0,0,0,0,0
415,0,0,7.2500,False,True,False,False,True,0,False,False,True,0,0,0,0,0,0,0,0
416,0,0,8.0500,False,True,False,False,True,0,False,False,True,0,0,0,0,0,0,0,0
417,1,1,22.3583,False,True,True,False,False,0,False,False,True,0,0,0,0,0,0,0,0